*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    align-items: center;
}

.navlink{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;

}
li{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

li a{ 
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    width: 100px;
}

.btns button{
    display: flex;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
}
.btns{
    display: flex;
    gap: 20px;
    align-items: center;
}
#Order{
    display: flex;
    background-color: red;
    text-align: center;
}
.rigth{
     display: flex;
}
.arrow{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}
.brand{
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
    gap: 30px;
}
.brand .content{
    text-align: center;
}
.container{
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 30px;
} 
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box img{
    background-color: white;

}

.one{
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
}



#salt{
    font-family: fantasy;
}
/* Franchise section*/
.franchises{
    width: 100%;
    background-color: black;
    color: white;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.franchises .content{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 80px;

}
.franchises .isb{
    display: flex;
    gap: 100px;
    flex-direction: row;
    
    
}
#order{
    display: flex;
    flex-direction: column;
    order: 1;   
}
button{
    border-radius: 40px;
    display: flex;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 20px 40px;
    border: 1px solid white;
}



