*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: futurak;
    src: url("./font/futurablack-bt.ttf");
}
@font-face{
    font-family: inter;
    src: url("./font/Inter-Regular.otf");
}
header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    align-items: center;
}

.navlink{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;

}
li{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

li a{ 
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    width: 100px;
}

.btns button{
    display: flex;
    border-radius: 30px;
}

.btns{
    display: flex;
    gap: 20px;
    align-items: center;
}
#Order{
    display: flex;
    background-color: red;
    text-align: center;
}
.rigth{
     display: flex;
}
.arrow{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}
.brand{
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
    gap: 30px;
}
.brand .content{
    text-align: center;
}
.container{
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 30px;
} 
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box img{
    background-color: white;

}

.one{
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
}
#font{
    font-family: futurak;
}
/* Franchise section*/
.franchises{
    width: 100%;
    background-color: black;
    color: white;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.franchises .content{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.franchises .isb{
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: space-around;  
} 

.isb{
     display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 30px 20px;
}
.isb img{
    display: flex;
    flex-direction: column;
    order: 2;
    gap: 230px;  
    padding-left: 30px 20px;
}
button{
    border-radius: 40px;
    display: flex;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 20px 40px;
    border: 1px solid white;
}
.faisalabad{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 230px;
    padding-right: 30px 20px;
}
.faisal img{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-left: 30px 20px; 

}
.fasialcontent{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-right:10px ;
}
.bahawalpur{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 230px;
}
.bahawalcontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 30px 20px;
}
.bahawal img{
    display: flex;
    flex-direction: column;
    order: 2;
    gap: 100px;
}
#heading{
    color: red;
}
.ExpressFranchises{
    background-color: black;
    color: white;
    width: 100%;


}
.Expresscontent{
    display: flex;
    gap: 30px;
    flex-direction: column;
    text-align: center;

}
.row{
    display: flex;
    gap: 80px;
    padding: 10px;
}
.imgsize{
  width: 400px;
}
.sargodha{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.sargodha img{
    width: 100%;
}
#button{
    display: flex;
    padding: 10px;
    border-radius:30px;
    outline: none;
    border: none;
    border: 1px solid white;
}
.jhelum{
     display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.jhelum img{
      width: 100%;
}
.faisaltown{
     display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.faisaltown img{
    width: 100%;
}
.DHA{
     display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
    
}
.DHA img{
    width: 100%;
}
.Bahriatown{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.Bahriatown img{
    width: 100%;
}
.gujarkhan{
     display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.gujarkhan img{
    width: 100%;
}
.lahore{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.lahore img{
    width: 100%;
}
.gujrat{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.gujrat img{
    width: 100%;
}
.sahiwal{
      display: flex;
     flex-direction: column;
     width: 30%;
     gap: 20px;
}
.sahiwal img{
    width: 100%;
}
.burewala{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 30%;
     gap: 20px;

} 
.burewala img{
    width: 100%;
     align-items: center;
    justify-content: center; 
}
.Villagefranchise{
    background-color: black;
    color: white;
    width: 100%;
    gap: 30px;
}
.villagecontent{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 40px;
}
.village{
    display: flex;
    gap: 80px;
    padding: 30px;

}
.village img{
    width: 100%;
}
.gujranwalacontent{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    order: 5;
}
.location{
    background-color: black;
    color: white;
    width: 100%;
}
.locationcontent{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 40px;
}
.locationrow{
    display: flex;
    width: 100%;
    gap: 100px;
}
.locationcard{
    display: flex;
    gap: 30px;
    background-color: black;
    color: white;
    flex-direction: column;
    padding: 60px 80px;
}
.card1{
    background-color: white;
    color: black; 
    width: 30%;
    border-radius: 4px;
    text-align: center;
    padding: 30px 32px;
    justify-content: center; 
    gap: 60px;
}
.card2{
    background-color: white;
    color: black; 
    width: 30%;
    border-radius: 4px;
    text-align: center;
    padding: 30px 32px;
    justify-content: center; 
    gap: 60px;
}
.card3{
    background-color: white;
    color: black; 
    width: 30%;
    border-radius: 4px;
    text-align: center;
    padding: 30px 32px;
    justify-content: center; 
    gap: 60px;
}
.card4{
    background-color: white;
    color: black; 
    width: 30%;
    border-radius: 4px;
    text-align: center;
    padding: 30px 32px;
    justify-content: center; 
    gap: 60px;
}
.card5{
    background-color: white;
    color: black;
    width: 30%;
    border-radius: 4px;
    text-align: center;
    padding: 30px 32px;
    justify-content: center;
    gap: 60px; 
}
.card6{
    background-color: white;
    color: black; 
    width: 30%;
    border-radius: 4px;
    text-align: center;
    padding: 30px 32px;
    justify-content: center; 
    gap: 60px;
}
#inter{
    font-family: inter;
}
/* footer section start */
footer{
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
}
.footerimg{
    width: 20%;
}
.footerimg img{
    width: 100%;
}
/* footer section end */



