*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.navlink{
    display: flex;
    gap: 10px;
    align-items: center;
}
li{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

li a{ 
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    padding: 40px;
}

.btns button{
    display: flex;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
}
.btns{
    display: flex;
    gap: 20px;
    align-items: center;
}
#Order{
    display: flex;
    background-color: red;
    text-align: center;
}
.rigth{
     display: flex;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}

